#navbarNavDropdown{
    justify-content: center;
    background-color: black;
}
.navbar.navbar-expand-lg.bg-body-tertiary{
    border: 2px solid white;
    border-radius: 5px;
}
.collapse.navbar-collapse{
    border: 1px solid wheat;
    border-radius: 5px;
    background-color: white;
}
a.nav-link:hover{
    color: aqua;
}
a.navbar-brand{
    border: 2px solid;
    border-radius: 50%;
    color: white;
}
a.nav-link{
    color: white;
    background-color: black;
}
#navbarDropdown{
    color: white;
}
#navbarDropdown:hover{
    color: aqua;
}